---
// import { getCollection } from 'astro:content';
import { PostInfo } from "../components/PostInfo";
import { LoggerHelper } from "../helpers/logger";
import { TextHelper } from "../helpers/text";
import BlogLayout from "../layouts/BlogLayout.astro";
import { supabase } from "../lib/supabase";

const { log } = LoggerHelper.factory("pages/index");

const { data: postsRes } = await supabase.from("posts").select();

log("postsRes", { postsRes });

// <div class="flex flex-col justify-center items-center">
//                 <div
//                   class={`w-3/4 mask ${
//                     MASKS[Math.floor(Math.random() * MASKS.length)]
//                   }`}
//                 >
//                   <img
//                     src={
//                       post.image
//                         ? `https://mkyplcxzkcdafyrdcqnp.supabase.co/storage/v1/object/public/post-images/${post.image}`
//                         : "/blog-placeholder-image.jpeg"
//                     }
//                     alt="post-image"
//                   />
//                 </div>
//                 <div class="py-8 prose">
//                   <h2 class="break-all sm:break-normal text-neutral">
//                     {post.title}
//                   </h2>

//                   <p class="text-secondary">
//                     <FormattedDate date={new Date(post.created_at)} />
//                   </p>
//                 </div>
//               </div>

const posts = postsRes || [];
---

<BlogLayout>
  <section>
    <ul class="grid grid-cols-2 gap-4">
      {
        posts.map((post, index) => (
          <li class={`${index === 0 ? "col-span-2" : undefined}`}>
            <a href={TextHelper.transformToUrl(post.title)}>
              <PostInfo {...post} mode="list" />
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BlogLayout>
