---
import { SITE_TITLE } from "../consts";
import { ThemeController } from "./ThemeController";

const pathname = Astro.url.pathname;
---

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost text-xl">{SITE_TITLE}</a>
  </div>
  <div class="navbar-center lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li class={pathname === "/" ? "font-bold text-primary" : undefined}>
        <a href="/">Home</a>
      </li>
      <li class={pathname === "/about" ? "font-bold text-primary" : undefined}>
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <!-- <a class="btn">Button</a> -->
    <ThemeController client:only />
  </div>
</div>
