---
import { SITE_TITLE } from "../consts";
import { ThemeController } from "./ThemeController";

const pathname = Astro.url.pathname;

// <div class="navbar bg-base-100">
//   <div class="navbar-start">
//     <a href="/" class="btn btn-ghost text-xl">{SITE_TITLE}</a>
//   </div>
//   <div class="navbar-center">
//     <ul class="menu menu-horizontal px-1">
//       <li class={pathname === "/" ? "font-bold text-primary" : undefined}>
//         <a href="/">Home</a>
//       </li>
//       <li class={pathname === "/about" ? "font-bold text-primary" : undefined}>
//         <a href="/about">About</a>
//       </li>
//     </ul>
//   </div>
//   <div class="navbar-end">
//     <!-- <a class="btn">Button</a> -->
//     <ThemeController client:only />
//   </div>
// </div>
---

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"></path></svg
        >
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a href="/">Página inicial</a></li>
        <li><a href="/about">Sobre</a></li>
        <li><a href="/suggestions">Sugestões</a></li>
      </ul>
    </div>
    <a href="/" class="btn btn-ghost text-xl p-0">{SITE_TITLE}</a>
  </div>
  <div class="navbar-center"></div>
  <div class="navbar-end">
    <ThemeController client:only />
  </div>
</div>
